= form_with model: task, data: { turbo_frame: turbo_frame_name } do |form|
  .form-group
    = form.label :title
    = form.text_field :title, class: 'form-control'

  .form-group
    = form.label :status
    = form.select :status, Task.statuses.keys.map { |status| [status.titleize, status] },
      { selected: status }, class: 'form-control'

  .form-group
    = form.label :priority
    = form.select :priority, Task.priorities.keys.map { |priority| [priority.titleize, priority] },
      {}, class: 'form-control'

  .form-group
    = form.label :description
    = form.text_area :description, class: 'form-control'

  .actions
    = form.submit 'Save', class: 'btn btn-primary'
    %button{ class: 'btn btn-light', data: { action: 'turbo-modal#hideModal' } }= 'Close'
